-i https://pypi.org/simple/
certifi==2019.11.28
cffi==1.14.0
chardet==3.0.4
click==7.1.1
cryptography==2.8
flask==1.0.2
future==0.18.2
gunicorn==19.9.0
idna==2.7
itsdangerous==1.1.0
jinja2==2.11.1
markupsafe==1.1.1
pycparser==2.20
python-telegram-bot==11.1.0
requests==2.20.0
six==1.14.0
urllib3==1.24.3
werkzeug==1.0.0
